body{
    background-image: url(./images/wood.jpg);
    background-size: 100% 100%
}
a{
    font-size: larger;
    color: #582817;
    display: block;
}
h1{
    padding-top: 20px;
}

h1, h2, h3, img{
    text-decoration: underline;
}

img{
    border: solid 7px #582817;
    display: block;
    margin: auto;
}

li{ 
   margin-bottom: 5px; 

}

.list{
    display: inline-block;
    width: 40%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    list-style-type: none;
}

.front-page{
    width: 100%;
    display: block;
    margin: 10px auto;
}

.front-page li{
    display: inline-block;
    padding: 5%;
    margin: auto;
}
.front-page img{
    height: 150px;
    margin-bottom: 15px;
}
.recipe-card{
    background-color: burlywood;
    color: #582817;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 85%;
    display: block;
    margin: 5% auto;
    border: solid 7px #582817;
}


